h1 {
    font-size: 50px;
    text-align: center;
    font-family: Verdana, 'Times New Roman', sans-serif;
    color: #633a23;
    background-color: rgba(112, 179, 162, 0.699)
}
img {
    height: auto;
    width: 600px;
}
.description {
    font-size: 30px;
    text-align: left;
    font-family: Verdana, 'Times New Roman', sans-serif;
    color: hsl(189, 84%, 23%);
    background-color: rgb(185, 189, 192);
    font-weight: 800;
}
