h1 {
    font-size: 50px;
    text-align: center;
    font-family: Verdana, 'Times New Roman', sans-serif;
    color: #633a23;
    background-color: rgba(112, 179, 162, 0.699)
}
img {
    height: auto;
    width: 600px;
}
.description {
    font-size: 30px;
    text-align: center;
    font-family: Verdana, 'Times New Roman', sans-serif;
    color: hsl(189, 84%, 23%);
    background-color: rgb(185, 189, 192);
    font-weight: 800;
}
.types {
    font-size: 20px;
    text-align: left;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 550;
}
.ingredients {
    color: rgb(107, 23, 107);
    background-color: rgb(174, 190, 24);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.directions {
    color: hsl(19, 77%, 42%);
    background-color: hsl(0, 56%, 82%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.tips {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    text-align: left;
    color: #098d05f1;
    background-color: #010703f1;
}
.index {
    color: hsl(239, 91%, 39%);
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 555;
    text-align: center;
}
.results {
    font-size: 22px;
    background-color: rgb(200, 175, 224);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.list {
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 550;
}
ol {
    font-size: 19px;
    font-family: Tahoma, 'Times New Roman', Georgia, sans-serif;
    color: hsl(24, 96%, 10%);
    background-color: hsl(99, 70%, 85%);
}