h1 {
    font-size: 50px;
    text-align: center;
    font-family: Verdana, 'Times New Roman', sans-serif;
    color: #633a23;
    background-color: rgba(112, 179, 162, 0.699)
}
img {
    height: auto;
    width: 600px;
}
.description {
    font-size: 30px;
    text-align: left;
    font-family: Verdana, 'Times New Roman', sans-serif;
    color: hsl(189, 84%, 23%);
    background-color: rgb(185, 189, 192);
    font-weight: 800;
}
.types {
    font-size: 20px;
    text-align: left;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 550;
}
.ingredients {
    color: rgb(107, 23, 107);
    background-color: rgb(174, 190, 24);
}
.directions {
    color: hsl(19, 77%, 42%);
    background-color: hsl(0, 56%, 82%);
}
.tips {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    text-align: left;
    color: #098d05f1;
    background-color: #010703f1;
}
